:root {
  --primary-color: #2288FF;
  --primary-color-bg: #ffffff;

  --secondary-color: #88aaff;
  --secondary-color-bg: #282828;

  --primary-text-color: #282828;
  --secondary-text-color: #ffffff;
}